
@{
    ViewData["Title"] = "Services Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Services</title>
</head>
<body>
    <div class="text-center">
        <hl class ="display-4">Welcome</hl>
        <p>
            Services page
        </p>
    </div>
</body>
</html>
